  *{
  margin:0;
    padding:0;
}

.header {
  width: 100%;
  height: 10%;
  background-color: white;
  display:flex;  
}

.logo {
  width: 25%;
  background:linear-gradient(to left bottom,red,blue);
}

.logo a {
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
}

.logo a img {
  width: auto;
  height: auto;
}
.menu {
  width: 75%;
  background:linear-gradient(to left bottom,red,blue);
  text-color:black;
  display: flex;
}
.menu .navbar{
 width:100%;
 height:100%;
}
.menu .navbar ul {
 width:100%;
 height:100%;
 display:flex;
 align-items:center;
 justify-content:space-around;
}
.menu .navbar ul li {
 list-style-type:none;
 padding-bottom:2%;
}
.menu .navbar ul li a{
  text-decoration:none;
 color:black;
 font-size:1.5vw;
 position:absolute;
 
}

.menu .navbar ul li a:hover {
  color: white;
}
.menu .navbar ul li .submenu{
  display:none;
  position:absolute
  background-color:magenta;
  min-width: 120px;
  border: 1px solid red;
  padding-left:5px;
  z-index: 10;
  
}
.menu .navbar ul li . submenu.ul {
 display:flex;
.menu .navbar ul li .submenu ul li{
  color:black;
  font-size:1vw;
  text-decoration:none;
  position:relative;
}
.menu .navbar ul li  a:hover{
  display:block;
}



