  *{
  margin:0;
    padding:0;
}

.header {
  width: 100%;
  height: 10%;
  background-color: white;
  display:flex;  
  overflow:hidden;
}

.logo {
  width: 25%;
  background-color: green;
}

.logo a {
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
}

.logo a img {
  width: auto;
  height: auto;
}
.menu {
  width: 75%;
  background-color: orange;
  text-color:black;
  display: flex;
}
