
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 25%;
  background: linear-gradient(to left bottom, red, blue);
}

.logo a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo a img {
  width: auto;
  height: 60%;
}

.menu {
  width: 75%;
  background: linear-gradient(to left bottom, red, blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu .navbar {
  width: 100%;
  height: 100%;
}

.menu .navbar ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu .navbar ul li {
  list-style-type: none;
  padding-bottom: 5px;
  position: relative; 
}

.menu .navbar ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  padding: 10px 15px;
  transition: color 0.3s ease;
}

.menu .navbar ul li a:hover {
  color: white;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content li {
  padding: 10px;
}

.dropdown-content li a {
  color: black;
  font-size: 1.2rem;
  padding: 10px 20px;
}



