
* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 10%;
  background-color: red;
  display:flex;
}

.logo {
  width: 10%;
  height: 100%;
  background-color:black;
}

.logo a {
  height: 100%;
  width: 100%;
  display:flex;
  justify-content: center;
}

.logo a img {
  width: auto;
  height: auto;
}

.menu {
  width: 95%;
  height: 100%;
  background-color:#98FB98;
}

.header .menu .menubar {
  height: 100%;
  width: 100%; 
}

.header .menu .menubar ul {
  width: 90%;
  height: 100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.menubar ul li {
  position: relative;
  list-style: none;
  height: 100%;  
  display: flex;
  align-items: center;
}

.menubar ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: static !important;
}

.menu .mobilebar {
  height: 100%;
  width: 0%;
}

.menu .menubar ul li .submenu {
  display: none;
  position: absolute;
  top:100%;
  left: 50%;
  transform: translateX(-50%);
  background: magenta;
  border: 1px solid black;
  width: 200px;
  height: auto;
  flex-direction:column;
  padding:5px 0;
  z-index: 10;
}

.menu .menubar ul li .submenu li{
  list-style: none;
  padding: 8px 5%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.menu .menubar ul li .submenu li a{
  font-size:1vw;
  color: black;
  text-align: center;
  display: inline-block;
  max-width: 100%;
  /* position: absolute; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu .menubar ul li:hover .submenu {
  display: block;
}

.menu .menubar ul .underline_current > a {
    text-decoration: underline;
    text-decoration-color: red;
}

@media (max-width: 576px) {
  .header {
    height: 5%;
    background: white;
  }

  .header .logo {
    width: 80%;
    background-color: white;
  }

  .header .logo a {
    width: 50%;
    background-color: white;
    justify-content: none;
    padding-left: 20%;
  }

  .header .menu {
    width: 20%;
    background-color: white;
  }

  .header .menu .menubar{
    width: 0%;
    height: 0%;
  }

  .header .menu .mobilebar {
    width: 100%;
    height: 100%;
  }

  .header .menu .mobilebar .hamburger {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background:red;
  }

  .header .menu .mobilebar .hamburger span {
    display: block;
    width: 20px;
    height: 2px;
    background: black;
    border-radius: 2px;
    box-shadow: 0 7px 0 white, 0 -7px 0 white;
  }

  .header .menu.mobile-open .menubar ul {
    display: flex;
    background: white;
    position: absolute;
    top:5%;
    left: 0;
    right: 0;
    z-index: 9;
    flex-direction: column;
  }
  .header .menu .menubar ul{
    height:auto;
    width: 100%;
    display:none;
}
  .header .menu .menubar ul li{ 
    padding: 5% 0;
    width:100%;
    justify-content:center;
  }
  .header .menu .menubar ul li a{
    font-size: 1rem;
  }
  .header .menu .menubar ul li .submenu{
    position: absolute;
    top: 100%;
    left: 0%
    transform: 0 !important;
    display: none;
  }
    .menu .menubar ul li .submenu li a {
    font-size: 1.5rem;
  }
  
  .header .menu .menubar ul li.open-submenu > .submenu {
    display: block;
  }

  .submenu-toggle {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    padding: 0 6px;
    cursor: pointer;
  }
  body{
    font-size:16px;
    background: f9f9f9;
  }
  h2{
    text-algin:center;
    border-bottom: 2px solid green;
  }
  form{
    width:300px;
    background:white;
    padding: 15px 40px 40px;
    margin: 50px auto 0;
    border:2px solid black;
    border-radius: 5px;
  }
  input{
    border: 1px solid grey
    padding: 10px;
    width:100%;
    box-sizing:border-box;
    border-radius:2px;
  }
  label{
    display:block;
    margin-bottom:6px
  }
div{
  padding-bottom:12px;
}
  .form-inline{
    border: 1px solid #ccc;
    border-radius: 2px;
    padding:8px 10px 4px;
  }
  .form-inline label,.form-inline input{
    display: inline-bolck;
    width: auto;
    padding-right:15px;
  }
  input[type="submit"]{
    font-size: 20px;
    background:#4cbb17;
    border-color: black;
    box-shadow: 0 3px 0 grey;
    color: white;
    margin-top: 10px;
    cursur:pointer;
  }
   input[type="submit"]:hover{
     background:#22;
   }
  







    












        
