* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 10%;
  background-color: white;
  display:flex;
}

.logo {
  width: 25%;
  height: 100%;
  background-color: lightblue;
}

.logo a {
  height: 100%;
  width: 100%;
  display:flex;
  justify-content: center;
}

.logo a img {
  width: auto;
  height: auto;
}

.menu {
  width: 75%;
  height: 100%;
  background-color:lightblue;
}

.menu .menubar {
  height: 100%;
  width: 100%; 
}

.menu .menubar ul {
  width: 90%;
  height: 100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.menubar ul li {
  list-style: none;
  position: relative;
  height:100%;
  display:flex;
  align-items: center;
}

.menubar ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5vw;
  position: static;
  height:100%;S
  justify-content: center;
  display:flex;
}
.menu .menubar ul .underline_current > a{
  text-decoration:underline red;
}
.menu .mobilebar {
  height: 100%;
  width: 0%;
}

.menu .menubar ul li .submenu {
  display: none;
  position: absolute;
  background-color:red ;
  border: 1px solid black;
  z-index: 1;
  height:auto;
  width:auto;
  top:100%;
  left: 50%;
  transform: translateX(-50%);
  
}

.menu .menubar ul li .submenu li {
  list-style: none;
  padding: 5px 10px;
  height:100%;
 
}
/* .menubar ul > li > a {
  position: relative;
  padding: 15px 10px;
  text-decoration: none;
  color: black;
}

/* underline */
/* .menubar ul > li > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 3px;
  background-color: red;
  transition: width 0.4s ease;
} */

/* hover effect */
/* .menubar ul > li > a:hover::after {
  width: 100%;
}

 */
