* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 10%;
  background-color: white;
  display:flex;
}

.logo {
  width: 25%;
  height: 100%;
  background-color: lightblue;
}

.logo a {
  height: 100%;
  width: 100%;
  display:flex;
  justify-content: center;
}

.logo a img {
  width: auto;
  height: auto;
}

.menu {
  width: 75%;
  height: 100%;
  background-color:lightblue;
}

.menu .menubar {
  height: 100%;
  width: 100%; 
}

.menu .menubar ul {
  width: 90%;
  height: 100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.menubar ul li {
  list-style: none;
  position: relative;
  display:flex;
  justify-content:center;
  align-items: center;
}

.menubar ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5vw;
  height:100%;
  display:flex;
  justify-content: center;
  align-items:center;
  position: static !important ;
}
.menu .menubar ul .underline_current > a{
  text-decoration:underline red;
}
.menu .mobilebar {
  height: 100%;
  width: 0%;
}

.menu .menubar ul li .submenu {
  display: none;
  position: absolute;
  top:100%;
  left: 50%;
  transform: translateX(-50%);
  background-color:red ;
  border: 1px solid black;
  height:auto;
  width:auto;
  flex-direction:column;
  padding: 5px 0;
  z-index: 10;
  
}

.menu .menubar ul li .submenu li {
  list-style: none;
  padding: 5px 10px;
  width:90%;
  display:flex;
  justify-content:center;
  align-items:center;
 
}
.menu .menubar ul li .submenu li a{
  font-size:1vw;
  color:black;
  text-align:center;
  display:inline-block;
  max-width:100%;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.menubar ul li:hover .submenu{
  display:block;
}
@media(max-width:576px)
.header {
  height:5%;
  background:white;
}
.header .logo{
  width:50%;
  background-color:white;
}
.header .logo a{
  width:50%;
  background-color:white;
  justify-content:none;
}
.header .menu{
  width: 50%;
  background-color:white;
}
.header .menu .menubar{
  width:0%;
  height:0%;
}
.header .menu .mobilebar{
  width:100%;
  height:100%;
}
.header .menu .mobilebar .hamburger {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background:green;
}
 .header .menu .mobilebar .hamburger span {
    display: block;
    width: 20px;
    height: 2px;
    background: white;
    border-radius: 2px;
    box-shadow: 0 7px 0 white, 0 -7px 0 white;
  }
/* .menubar ul > li > a {
  position: relative;
  padding: 15px 10px;
  text-decoration: none;
  color: black;
} */


/* .menubar ul > li > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 3px;
  background-color: red;
  transition: width 0.4s ease;
} */


 /* .menubar ul > li > a:hover::after {
  width: 100%;
}

 */
